:root {
  --accent-color: #ff6600;
  --bg-color: #f6f6ef;
  --fg-color: #828282;
  --padding: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  color: var(--fg-color);
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}